<h2 id="approval">Approval and Attestation</h2>

<p>I attest that the information in this report is true, accurate, and complete in all material respects for the purposes of the Act, for the reporting year stated above.</p>

<p>I have the authority to bind ABC.</p>

<p><strong>Signature:</strong> [Upload Signature]</p>

<p>This report was approved by ABC’s Board of Directors on <strong>May 15, 2025</strong>, and is signed by:</p>

<p>
  [Name]<br />
  [Title/Designation]<br />
  ABC<br />
  [Date]
</p>
