<a href="#org-structure"></a>
<h2 id="org-structure">1. Organization Structure</h2>
<p>{{ screen_1.part_1_screen1_q2|default:"No data available" }} is a Corporation headquartered in {{screen_2.part_1_screen7_q2|safe|default:"No data available"}}, Canada, operating in the following industry/sector(s):</p>

<ul>
  {% for industry, subcategories in screen_2.part_1_screen6_q1.items %}
  <li>
    {{ industry }} {% if subcategories %}
    <ul>
      {% for sub in subcategories %}
      <li>{{ sub }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<p>{{screen_2_sentence_1}}</p>

<p>{{ screen_2.report_data.organization_profile_structure|default:"No data available"|safe }}</p>
