<h2 id="training">9. Training on Forced Labour and Child Labour</h2>

<p>{{screen_10.part_1_screen1_q2|default:"No data available"}} provides training on forced labour and/or child labour to its employees.</p>

<p>Training details include:</p>

<ul>
  <li>Scope (is the training mandatory?):
    {% if screen_10.part_2_screen7_q2 == 'Yes' %}
    Yes, the training is mandatory for all employees.</li>
    {% else %}
    No, the training is not mandatory for all employees.</li>
    {% endif %}
</ul>
<p> Additional Information provided: </p>
<p> {{screen_10.report_data.training_forced_child_labour|safe|default:"No data available"}} </p>
