<h2>7. Metrics & Targets</h2>
<p>Auto fill text will come here</p>
<h3>7.1 Metrics used to assess climate related risks and opportunities </h3>
<p>Auto fill text will come here</p>

<h4>Metrics used to assess climate related risks </h4>
<p>(Response from TCFD-M&T-A, “Metrics used to assess climate related risks”, without heading) </p>
<table>
    <thead>
        <tr>
            <th>Climate Related Risk</th>
            <th>Metric Category</th>
            <th>Key Metric</th>
            <th>Metric Value</th>
            <th>Metric Unit</th>
            <th>Scope</th>
            <th>Historical Metric Reported?</th>
            <th>Historical Period Covered</th>
            <th>Forward-Looking Metric Reported?</th>
            <th>Forward-Looking Time Horizon</th>
            <th>Methodology Used</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Climate Related Risk 1</td>
            <td>Metric Category 1</td>
            <td>Key Metric 1</td>
            <td>Metric Value 1</td>
            <td>Metric Unit 1</td>
            <td>Scope 1</td>
            <td>Historical Metric Reported? 1</td>
            <td>Historical Period Covered 1</td>
            <td>Forward-Looking Metric Reported? 1</td>
            <td>Forward-Looking Time Horizon 1</td>
            <td>Methodology Used 1</td>
        </tr>
    </tbody>
</table>

<h4>Metrics used to assess climate related opportunities </h4>
<p>(Response from TCFD-M&T-A, “Metrics used to assess climate related opportunities”, without heading)</p>
<table>
    <thead>
        <tr>
            <th>Climate Related Opportunity</th>
            <th>Metric Category</th>
            <th>Key Metric</th>
            <th>Metric Value</th>
            <th>Metric Unit</th>
            <th>Scope</th>
            <th>Historical Metric Reported?</th>
            <th>Historical Period Covered</th>
            <th>Forward-Looking Metric Reported?</th>
            <th>Forward-Looking Time Horizon</th>
            <th>Methodology Used</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Climate Related Risk 1</td>
            <td>Metric Category 1</td>
            <td>Key Metric 1</td>
            <td>Metric Value 1</td>
            <td>Metric Unit 1</td>
            <td>Scope 1</td>
            <td>Historical Metric Reported? 1</td>
            <td>Historical Period Covered 1</td>
            <td>Forward-Looking Metric Reported? 1</td>
            <td>Forward-Looking Time Horizon 1</td>
            <td>Methodology Used 1</td>
        </tr>
    </tbody>
</table>

<h4>Integration of Climate Related Metrics into Remuneration Policies</h4>
<p>(Note for devs: A tailored version of the “Metrics used to assess climate related opportunities” section’s data is
    required here. i.e. skip yes/no response)

    (If ‘Yes’ option is selected for the question “Are climate-related performance metrics incorporated into
    remuneration policies?”, fetch response from TCFD-M&T-A, “If Yes, please describe how these metrics are integrated
    into remuneration policies:” without heading)
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------.

    (If ‘No’ option is selected skip entire section). </p>

<h4>Internal Carbon Pricing Mechanisms</h4>
<p>(Note for devs: A tailored version of the “Metrics used to assess climate related opportunities” section’s data is
    required here. i.e. skip yes/no response)

    (If ‘Yes’ option is selected for the question “Has your organization implemented an internal carbon pricing
    mechanism?”, fetch response from TCFD-M&T-A, “If Yes, please provide details” without heading)
    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------.

    (If ‘No’ option is selected skip entire section).</p>

<h4>Revenue from Low-Carbon Products and Services</h4>
<p>(Note for devs: A tailored version of the “Metrics used to assess climate related opportunities” section’s data is
    required here. i.e. skip yes/no response)

    (If ‘Yes’ option is selected for the question “Does your organization generate revenue from products or services
    designed for a low-carbon economy?”, fetch response from TCFD-M&T-A “If Yes, please provide details” without
    heading)
    ---------------------------------------------------------------------------------------------------------------------------------------------------------.

    (If ‘No’ option is selected skip entire section).</p>

<p>Rich text data here</p>

<h3>7.2 GHG Emissions</h3>
<p>Autofill text here</p>

<h4>Scope 1 GHG Emissions</h4>
<p>Autofill text here</p>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Sub-Category</th>
            <th>Activity</th>
            <th>Emissions (tCO2e)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Category 1</td>
            <td>Sub-Category 1</td>
            <td>Activity 1</td>
            <td>Emissions (tCO2e) 1</td>
        </tr>
    </tbody>
</table>

<h4>Scope 2 GHG Emissions</h4>
<p>Autofill text here</p>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Sub-Category</th>
            <th>Activity</th>
            <th>Emissions (tCO2e)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Category 1</td>
            <td>Sub-Category 1</td>
            <td>Activity 1</td>
            <td>Emissions (tCO2e) 1</td>
        </tr>
    </tbody>
</table>

<h4>Scope 3 GHG Emissions</h4>
<p>Autofill text here</p>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Sub-Category</th>
            <th>Activity</th>
            <th>Emissions (tCO2e)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Category 1</td>
            <td>Sub-Category 1</td>
            <td>Activity 1</td>
            <td>Emissions (tCO2e) 1</td>
        </tr>
    </tbody>
</table>

<h4>Top Emissions by Scope</h4>
<table>
    <thead>
        <tr>
            <th>Source</th>
            <th>Percentage contribution</th>
            <th>Total Emissions</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Source 1</td>
            <td>Percentage contribution 1</td>
            <td>Total Emissions 1</td>
            <td>Unit 1</td>
        </tr>
    </tbody>
</table>

<h4>Top Emissions by Source</h4>
<table>
    <thead>
        <tr>
            <th>Source</th>
            <th>Percentage contribution</th>
            <th>Total Emissions</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Source 1</td>
            <td>Percentage contribution 1</td>
            <td>Total Emissions 1</td>
            <td>Unit 1</td>
        </tr>
    </tbody>
</table>

<h4>Top Emissions by Location</h4>
<table>
    <thead>
        <tr>
            <th>Source</th>
            <th>Percentage contribution</th>
            <th>Total Emissions</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Source 1</td>
            <td>Percentage contribution 1</td>
            <td>Total Emissions 1</td>
            <td>Unit 1</td>
        </tr>
    </tbody>
</table>

<h4>GHG Emission Intensity</h4>
<table>
    <thead>
        <tr>
            <th rowspan="2">Organisation Metric</th>
            <th rowspan="2">Quantity</th>
            <th rowspan="2">Unit</th>
            <th rowspan="2">Type of GHGs</th>
            <th rowspan="2">GHG Emission Intensity</th>
            <th rowspan="2">Unit</th>
            <th colspan="7">Gases included in the calculation</th>
        </tr>

        <tr>
            <th>CO<sub>2</sub></th>
            <th>N<sub>2</sub>O</th>
            <th>CH<sub>4</sub></th>
            <th>HFCs</th>
            <th>PFCs</th>
            <th>SF<sub>6</sub></th>
            <th>NF<sub>3</sub></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Organisation Metric 1</td>
            <td>Quantity 1</td>
            <td>Unit 1</td>
            <td>Type of GHGs 1</td>
            <td>GHG Emission Intensity 1</td>
            <td>Unit 1</td>
            <td>CO<sub>2</sub> 1</td>
            <td>N<sub>2</sub>O 1</td>
            <td>CH<sub>4</sub> 1</td>
            <td>HFCs 1</td>
            <td>PFCs 1</td>
            <td>SF<sub>6</sub> 1</td>
            <td>NF<sub>3</sub> 1</td>
        </tr>
    </tbody>

</table>
<p>Auto fill text here</p>

<h3>7.3 Targets used to manage climate related risks and opportunities and performance against targets.</h3>
<p>Auto fill text here</p>

<h4>Targets used to manage climate related risks and opportunities and performance against targets</h4>
<p>(Response from TCFD-M&T-C, “Targets used to manage climate related risks and opportunities and performance against
    targets”, without heading) </p>
<table>
    <thead>
        <tr>
            <th>Key Metric for Climate Related Target</th>
            <th>Target Metric Category</th>
            <th>Target Type</th>
            <th>Metric Unit</th>
            <th>Base Year</th>
            <th>Baseline Value</th>
            <th>Target Time Frame</th>
            <th>Target Value</th>
            <th>Target Goals</th>
            <th>Key Performance Indicators</th>
            <th>Methodology Used</th>
    </thead>
    <tbody>
        <tr>
            <td>Key Metric for Climate Related Target 1</td>
            <td>Target Metric Category 1</td>
            <td>Target Type 1</td>
            <td>Metric Unit 1</td>
            <td>Base Year 1</td>
            <td>Baseline Value 1</td>
            <td>Target Time Frame 1</td>
            <td>Target Value 1</td>
            <td>Target Goals 1</td>
            <td>Key Performance Indicators 1</td>
        </tr>
    </tbody>
</table>

<h4>Add closing remarks here.</h4>
<p>Autofill will come here</p>