<h2>2. About the Report</h2>
<h3>2.1 Overview of TCFD</h3>
<p>The Task Force on Climate-related Financial Disclosures (TCFD) was established by the Financial Stability Board (FSB)
    to develop voluntary, consistent disclosures that enable companies, investors, lenders, and insurers to understand
    and communicate climate-related financial risks and opportunities. The TCFD framework supports organizations in
    assessing the material financial impacts of climate-related issues and provides guidance to communicate them
    effectively. This improves transparency and supports more informed decision-making by stakeholders 
    The TCFD framework is structured around four key thematic areas that represent core elements of how organizations
    operate: 
</p>
<ul>
    <li>Governance – The organization’s governance around climate-related risks and opportunities. </li>
    <li>Strategy – The actual and potential impacts of climate-related risks and opportunities on the organization’s
        businesses, strategy, and financial planning. </li>
    <li>Risk Management – How the organization identifies, assesses, and manages climate-related risks.</li>
    <li>Metrics and Targets – The metrics and targets used to assess and manage relevant climate-related risks and
        opportunities</li>
</ul>
<p>By aligning with the TCFD recommendations, we strengthen the quality and comparability of climate-related financial
    disclosures and demonstrate our readiness to navigate a rapidly evolving regulatory and environmental landscape. 
</p>
<h3>2.2 Purpose</h3>

<p>Auto Fill data will come here</p>