<h2>6. Risk Management</h2>
<p>Auto fill text here</p>
<h3>6.1 Risk Identification & Assessment Process </h3>
<p>(Response from “Describe your organization's overall approach to identifying and assessing climate-related risks.”
    question, without heading)
    -----------------------------------------------------------------------------------------------------.

    (Response from “How do you determine the relative significance of climate-related risks compared to other types of
    risks?” question, without heading)
    -----------------------------------------------------------------------------------------------------. </p>
<h4>Regulatory Considerations</h4>
<p>(Note for devs: A tailored version of the ‘Regulatory Considerations’ section’s data is required here. i.e. skip
    yes/no response)

    (If yes option is selected, fetch response from “If yes, describe how the regulatory requirements are considered.”
    question, without heading)
    ---------------------------------------------------------------------------------------------------------------.

    (If ‘No’ option is selected skip entire section).</p>

<h4>Size & scope of risk</h4>
<p>(Response from “Describe the process of assessing the potential size and scope of identified climate-related risks.”
    question, without heading)
    -----------------------------------------------------------------------------------------------------. </p>

<h3>6.2 Climate Risk Management</h3>
<p>(Response from “Describe the process your organization uses to prioritize climate-related risks, including how you
    assess their materiality to your business strategy, operations, and financial planning” question, without heading)
    -----------------------------------------------------------------------------------------------------.

    (Response from “Describe your organization’s process for managing climate-related risks.” question, without heading)
    -----------------------------------------------------------------------------------------------------. </p>

<h3>6.3 Integration with Overall Risk Management </h3>
<p>(Note for devs: A tailored version of the ‘Climate risks Integration into Organisation's Risk Management Framework’
    section’s data is required here. i.e. skip yes/no response)

    (If yes option is selected, fetch response from “If yes, describe how climate-related risk processes
    (identification, assessment, management) are integrated into your organization's overall risk management framework.”
    question, without heading)
    ---------------------------------------------------------------------------------------------------------------.

    (If ‘No’ option is selected skip entire section) </p>