<span style="font-size:1px;color:white">SCREEN_ANCHOR:risk_management</span>
<a href="#risk_management"></a>
<h2>6. Risk Management</h2>
<p>{{screen_6.report_data.identification_process.content|safe|default:"No data available"}}</p>
<h3>6.1 Risk Identification & Assessment Process </h3>

<h4>Organization's Overall Approach to Identifying and Assessing Climate-Related Risks</h4>
<p>{{screen_6.climate_related_risk_identification_assessment_process.0.Q1|default:"No data available."}}</p>

<h4>Organization's Overall Approach to Identifying and Assessing Climate-Related Risks</h4>
<p>{{screen_6.risk_significance.0.Q1|default:"No data available."}}</p>

{% if screen_6.regulatory_considerations.0.Q1 == "Yes" %}
<h4>Regulatory Considerations</h4>
<p>{{screen_6.regulatory_considerations.0.Q2|default:"No data available."}}</p>
{% endif %}

<h4>Size & scope of risk</h4>
<p>{{screen_6.size_scope_of_risk.0.Q1|default:"No data available."}}</p>
{% if screen_6.size_scope_of_risk.0.Q2 %}
<p>{{screen_6.size_scope_of_risk.0.Q2.text|default:"No data available."}}</p>
{% endif %}
{% if screen_6.size_scope_of_risk.0.Q2 %}
  <div style="background: #fafbfc; border: 1px solid #eee; padding: 10px; border-radius: 4px;">
    <div style="color: black;">
      <strong>Attached File:</strong> {{ screen_6.size_scope_of_risk.0.Q2.fileName }}
    </div>
    <div style="margin-top: 4px;">
      <a href="{{ screen_6.size_scope_of_risk.0.Q2.fileURL }}" 
         target="_blank" rel="noopener noreferrer"
         style="color: #1a0dab; text-decoration: underline;">
        View Document
      </a>
    </div>
  </div>
{% endif %}

<h3>6.2 Climate Risk Management</h3>
<h4>Risk Prioritization Process</h4>
<p>{{screen_6.materiality_determination.0.Q1|default:"No data available."}}</p>

<h4>Climate Risk Management Process</h4>
<p>{{screen_6.climate_risk_management_process.0.Q1|default:"No data available."}}</p>


<h3>6.3 Integration with Overall Risk Management </h3>
{% if screen_6.climate_risks_integration_into_organisations_risk_management_framework.0.Q1 == "Yes" %}
<p>Integration of Climate Risk Processes into Overall Risk Management Framework</p>
<p>{{screen_6.climate_risks_integration_into_organisations_risk_management_framework.0.Q2|default:"No data available."}}</p>
{% endif %}