<h2>8. TCFD Content Index</h2>

<table>
    <thead>
        <tr>
            <th>TCFD core elements</th>
            <th>Recommended Disclosures</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for section, section_data in screen_8.items %}
            <tr>
                <td rowspan="{{ section_data.disclosures|length }}">
                    <strong>{{ section }}:</strong><br>
                    {{ section_data.description }}
                </td>
                <td>
                    {{ section_data.disclosures.0.description }}
                </td>
                <td>
                    Pg. No. -
                </td>
            </tr>
            {% for disclosure in section_data.disclosures|slice:"1:" %}
            <tr>
                <td>
                    {{ disclosure.description }}
                </td>
                <td>
                    Pg. No. -
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>