<h2>5. Strategy</h2>
<p>Auto fill text here</p>
<h3>5.1. Climate-Related Risks and Opportunities Assessment </h3>
<p>Auto fill text here</p>
<h4>Physical Risks</h4>
<p>(Response from 201-2-a, without heading)</p>
<h4>Transition Risks:</h4>
<p>(Response from 201-2-a, without heading)</p>
<h4>Other Risks:</h4>
<p>(Response from 201-2-a, without heading)</p>

<p>We define our climate-related time horizons to ensure a consistent and forward-looking approach to assessing risks
    and opportunities. These are categorized as Immediate-term (0–1 year), Short-term (1–3 years), Medium-term (3–5
    years), and Long-term (5+ years), providing a structured basis for strategic planning. </p>

<h3>5.2. Impact on Business, Strategy, and Financial Planning </h3>
<p>Auto fill text here</p>

<h4>The following table outlines how climate-related issues have influenced our organization’s strategy, planning, and
    operations across key business areas.</h4>
<table>
    <thead>
        <th>Climate-related risks/opportunities </th>
        <th>Business Areas Affected</th>
        <th>Impact</th>
    </thead>
    <tr>
        <td>Climate-related risks/opportunities</td>
        <td>Business Areas Affected</td>
        <td>Impact</td>
    </tr>
</table>
<p>(Response from “Describe how climate-related risks and opportunities are prioritized in financial planning” question,
    without heading) </p>
<p>(Response from “What impacts have climate-related issues had on your financial planning” question, without heading)
</p>

<h4>GHG Emission Reduction Commitments</h4>
<p>(Note for devs: A tailored version of the ‘GHG Emissions Reduction Commitments’ section’s data is required here. i.e.
    skip yes/no response)

    (If yes option is selected, fetch response from “If yes, describe your plans for transitioning to a low-carbon
    economy.” question, without heading) </p>
<h3>5.3. Scenario Analysis & Strategic Resilience </h3>
<h4>Scenario Analysis</h4>
<p>(Note for devs: A tailored version of the ‘Climate Scenarios & Financial Impact’ section’s data is required here.
    i.e. skip yes/no response)

    (If yes option is selected, fetch response from “If yes, please describe climate related scenario(s) and associated
    time horizon(s) considered” question, without heading)</p>
<h4>Strategic Resilience and Evolution of Business Strategy</h4>
<p>(Response from “Describe how your organization’s strategy is resilient to climate-related risks and opportunities,
    including in a 2°C or lower scenario.” question, without heading)</p>
<h4>Financial Impacts</h4>

<p>Add sector-specific (e.g., financial or non-financial) information relevant to the Strategy disclosures, in line with
    TCFD sector guidance (if applicable).</p>
<p>Autofill will come above</p>