<div style="padding: 5px; margin-bottom: 5px;">
    <h2 style="font-size: 25px; font-weight: 500; margin-bottom: 5px; color: #000;"> Table of Contents </h2>
    <div
        style="height: 2.5px; background: linear-gradient(90deg, rgba(0, 174, 239, 0.2) 7.92%, rgba(106, 223, 35, 0.2) 50.75%); margin: 10px 0; width: 215px;">
    </div>
    <div
        style="padding: 3px 0px; box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); border: 1px solid #ddd; background-color: #fff; margin: 7px;">
        <ul style="margin-left: -20px;">
            <li>
                1. Message from CEO/MD/Chairman
            </li>
            <li>
                2. About the Report
                <ul>
                    <li>
                        2.1. Overview of TCFD
                    </li>
                    <li>
                        2.2. Purpose
                    </li>
                </ul>
            </li>
            <li>
                3. About the Company & Operations
                <ul>
                    <li>
                        3.1. Our Business
                    </li>
                    <li>
                        3.2. Operations
                    </li>
                </ul>
            </li>
            <li>
                4. Governance
                <ul>
                    <li>
                        4.1. Board’s Oversight of Climate-Related Risks and Opportunities
                    </li>
                    <li>
                        4.2. Management’s role in assessing and managing climate related risks and opportunities
                    </li>
                </ul>
            </li>
            <li>
                5. Strategy
                <ul>
                    <li>
                        5.1. Climate-Related Risks and Opportunities Assessment
                    </li>
                    <li>
                        5.2. Impact on Business, Strategy, and Financial Planning
                    </li>
                    <li>
                        5.3. Scenario Analysis & Strategic Resilience
                    </li>
                </ul>
            </li>
            <li>
                6. Risk Management
                <ul>
                    <li>
                        6.1. Risk Identification & Assessment Process
                    </li>
                    <li>
                        6.2. Climate Risk Management
                    </li>
                    <li>
                        6.3. Integration with Overall Risk Management
                    </li>
                </ul>
            </li>
            <li>
                7. Metrics and Targets
                <ul>
                    <li>
                        7.1. Metrics used to assess climate related risks and opportunities
                    </li>
                    <li>
                        7.2. GHG Emission
                    </li>
                    <li>
                        7.3. Targets used to manage climate related risks and opportunities and performance against
                        targets.
                    </li>
                </ul>
            </li>
            <li>
                8. TCFD Content Index
            </li>
            <li>
                9. Annexure
            </li>
    </div>
</div>