<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hi {{first_name}},</p>
    <p> Welcome to Sustainext!</p>
    <p> Your account has been created successfully</p>
    <p>To activate your account, please <a href="{{EMAIL_REDIRECT}}">Click here</a>.
    </p>
    <p>Username:<a href="{{username}}">{{username}}</a> </p>
    <p>Password to access your account is = {{password}} </p>
    <!-- <p>To reset your password <a href="{{reset_link}}">Click here</a></p> -->
    <!-- <p>A password will be shared with you shortly along with a reset link.</p> -->
    <p>Thank you for your interest in Sustainext!</p>
    <p>Sincerely,<br>The Team</p>
</body>

</html>